<div class="container m-5"></div>
<div class="row w-100 justify-content-center ">
    <div class="whole col-md-5 d-flex align-items-center justify-content-evenly mb-5 me-5">
        <div class="">
            <img class="poaster" src="../../../assets/batman.jpg">
        </div>
        <div class="details p-4">
            <div class="d-flex align-items-center justify-content-between ">
                <h3>Batman</h3>
                <i class="fa fa-heart fa-solid fa-xl" style="color: rgb(255, 123, 0);"></i>
            </div>
            <p class="text-white-50" style="font-size: 12px;">2012</p>
            <i class="fa fa-star fa-solid fa-md me-2" style="color: rgb(255, 123, 0);"></i><span
                style="font-size: 12px;">(3473)</span>
            <p class="mt-3" style="font-size: 15px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
                magni, harum aliquam,
                distinctio, et
                consectetur perferendis ullam totam saepe corrupti possimus asperiores nisi laborum voluptate.
                Distinctio quos labore asperiores velit.</p>
        </div>
    </div>



    <!-- ht4eel elly t7t de ya 3bdoooooo  -->
    <!-- ht4eel elly t7t de ya 3bdoooooo  -->
    <!-- ht4eel elly t7t de ya 3bdoooooo  -->
    <!-- ht4eel elly t7t de ya 3bdoooooo  -->
    <!-- ht4eel elly t7t de ya 3bdoooooo  -->
    <!-- ht4eel elly t7t de ya 3bdoooooo  -->
    <!-- ht4eel elly t7t de ya 3bdoooooo  -->
    <!-- ht4eel elly t7t de ya 3bdoooooo  -->
    <!-- ht4eel elly t7t de ya 3bdoooooo  -->
    <!-- ht4eel elly t7t de ya 3bdoooooo  -->
    <div class="whole col-md-5 d-flex align-items-center justify-content-evenly mb-5 me-5">
        <div class="">
            <img class="poaster" src="../../../assets/Ariel.jpg">
        </div>
        <div class="details p-4">
            <div class="d-flex align-items-center justify-content-between ">
                <h3>Ariel</h3>
                <i class="fa fa-heart fa-solid fa-xl" style="color: rgb(255, 123, 0);"></i>
            </div>
            <p class="text-white-50" style="font-size: 12px;">2012</p>
            <i class="fa fa-star fa-solid fa-md me-2" style="color: rgb(255, 123, 0);"></i><span
                style="font-size: 12px;">(3473)</span>
            <p class="mt-3" style="font-size: 15px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
                magni, harum aliquam,
                distinctio, et
                consectetur perferendis ullam totam saepe corrupti possimus asperiores nisi laborum voluptate.
                Distinctio quos labore asperiores velit.</p>
        </div>
    </div>
    <!-- l7d hena ya 3bdooooooooo  -->
    <!-- l7d hena ya 3bdooooooooo  -->
    <!-- l7d hena ya 3bdooooooooo  -->
    <!-- l7d hena ya 3bdooooooooo  -->
    <!-- l7d hena ya 3bdooooooooo  -->
    <!-- l7d hena ya 3bdooooooooo  -->
    <!-- l7d hena ya 3bdooooooooo  -->



</div>