.wrapper {
    margin-top: 70px !important;
}

.container {
    padding: 20px 50px;
    margin: 0px auto;
}

.input {
    width: 400px;
    border: 1px solid rgb(255, 123, 0);
    background: transparent;
    padding: 15px 30px;
    border-radius: 50px 0px 0px 50px;
    outline: none;
    font-size: 18px;
    color: #fff;
    box-shadow: 0 0 10px 0 rgb(255, 123, 0);
}

input::placeholder {
    color: grey;
}

.close-btn {
    margin-left: -25px;
    padding: 15px 30px;
    cursor: pointer;
    color: white;
    background: rgb(255, 123, 0);
    border: 0px;
    width: 120px;
    height: 63px !important;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 0 10px 0 rgb(255, 123, 0);
}