<section class="home">
	<div class="container">
		<div class="row">
			<!-- loading The Page -->
			<div class="col-md-12 d-flex align-items-center justify-content-center" *ngIf="trendingMovies.length == 0"
				style="margin-top: 150px;">
				<div>
					<div class="d-flex justify-content-center align-items-center" style="margin-bottom: 230px;">
						<i class="fa-solid fa-spinner fa-spin-pulse fa-2xl"
							style="scale: 10; text-shadow: 0 0 1.5px rgb(255 123 0 / 40%);"></i>
					</div>
					<div class="d-flex justify-content-center align-items-center" style="margin-bottom: 100px;">
						<p style="scale: 5; text-shadow: 0px 0px 3px rgb(255 123 0 / 40%);">Loading...</p>
					</div>
				</div>
			</div>

			<div style="margin:100px 0 100px 0;">
				<app-input (searchMovie)="searchMovies($event)"></app-input>
			</div>
			<!-- The page has Been Loaded -->
			<div *ngFor="let movie of trendingMovies" class="col-lg-3 border border-0 rounded rounded-5">
				<div class="movie_card position-relative mb-4">
					<a [routerLink]="['/movie-details', movie.id, movie.title]">
						<div class="movie-img">
							<img class="w-100 img-fluid" [src]="posterPrefix + movie.poster_path" alt="" />
						</div>
						<div class="rate position-absolute ">
							<p>{{movie.vote_average | number: '1.0-1'}} / 10 </p>
						</div>

						<div
							class="movie_text position-absolute top-0 d-flex justify-content-start  align-items-start  flex-column p-3">
							<h2 class="title mt-3">{{ movie.title | minimizeTitle}}</h2>
							<p class="text">{{movie.overview | minimizeDescription}}</p>
						</div>

						<a [routerLink]="['/movie-details', movie.id, movie.title]">
							<button class="show_more btn position-absolute">Show More</button> </a>
						<i class="fa-regular fa-heart fa-2xl position-absolute f" (click)="toggleWatchlist(movie.id)"
							[ngClass]="{
							'fa-solid': isExistInWatchlist(movie.id),
							'fa-regular': !isExistInWatchlist(movie.id)
						}"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="paginate">
		<ul class="pagination">
			<li [routerLink]="['/movies']" [queryParams]="{ page: currentPage - 1 }">
				<a (click)="top()"><i class="fa-solid fa-chevron-left"></i></a>
			</li>
			<li *ngFor="let page of generatePageNumbers()">
				<a [class.active]="page === currentPage" (click)="onPageChange(page)">
					{{ page }}
				</a>
			</li>
			<li [routerLink]="['/movies']" [queryParams]="{ page: currentPage + 1 }">
				<a (click)="top()"><i class="fa-solid fa-chevron-right"></i></a>
			</li>
		</ul>
	</div>
</section>