h3 {
	font-size: 5rem;
	color: #fff;
}

.back {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: -100;
	filter: blur(10px);
}

.movie_card {
	border: 1px solid #000;
	border-radius: 20px;
	overflow: hidden;
	width: 350px;
	margin-top: 165px;
	margin-left: 50px;
}

.movie-text {
	margin-top: 190px;
	margin-left: 70px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.imdb {
	width: 5%;
	margin-right: 5px;
}

/* For heart icon Watchlist */

.fa-heart {
	padding-top: 26px;
	padding-left: 25px;
	transition: 0.3s ease-in-out;
	color: var(--main-color);
	font-size: 2.5rem;
	z-index: 4;
	cursor: pointer;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.fa-heart:hover {
	scale: 1.1;
}

.fa-heart:clicked {
	scale: 1.1;
	color: var(--main-color);
}

.genre {
	border: 1px solid rgb(255, 255, 255);
	border-radius: 5px;
	padding: 3px;
}

.video-btn {
	display: flex;
	align-items: center;
	font-weight: 600;
	text-decoration: none;
	color: #000;
	transition: 0.3s ease;
}

.video-btn:hover {
	color: var(--main-color) !important;
}

.video-btn .icon {
	width: 3.4375rem;
	height: 3.4375rem;
	border-radius: 50%;
	background-image: linear-gradient(to right,
			var(--main-color) 0 50%,
			transparent 50% 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	margin-right: 0.3125rem;
	position: relative;
	color: #000;
}

.video-btn:hover .icon {
	color: var(--main-color) !important;
}

.video-btn .icon::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: inherit;
}

.video-btn .icon i {
	z-index: 5;
}