<div
	class="back"
	[ngStyle]="{
		background:
			'url(' +
			posterPrefix +
			movieDetails.backdrop_path +
			') no-repeat center center/ cover fixed'
	}"></div>
<section class="details">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="movie_card">
					<div class="movie-img">
						<img
							class="w-100 img-fluid"
							[src]="posterPrefix + movieDetails.poster_path"
							alt="Movie Poster" />
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="movie-text text-white">
					<span class="position-relative"
						><i
							class="fa-regular fa-heart fa-2xl position-absolute f"
							(click)="toggleWatchlist(movieDetails.id)"
							[ngClass]="{
								'fa-solid': isExistInWatchlist(movieDetails.id),
								'fa-regular': !isExistInWatchlist(movieDetails.id)
							}"></i></span
					>ß

					<h2 class="fs-1">{{ movieDetails.title }}</h2>
					<p class="fs-5">{{ movieDetails.release_date | date : 'yyy' }}</p>
					<p class="fs-5">
						Movie Language: {{ movieDetails.original_language }}
					</p>

					<span class="rating d-flex"
						><img
							class="imdb"
							src="../../../assets/imdb-seeklogo.com.svg"
							alt="Imdb Logo" />
						{{ movieDetails.vote_average | number : '1.0-1' }} / 10</span
					>
					<p class="fs-5 mt-5">{{ movieDetails.overview }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
